extends _layout
block vars
  include ./_nav.pug
  - metas = {}
  - metas.title = 'title'  
  - metas.url = 'url'
  - metas.image = 'image'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
block append meta
  +meta(metas)
block title
  title #{metas.title}
block body
  include _header
  case metas.title
    when "title"
      h1 タイトルh1
    default
      p タイトルP
  main#main
    ul.btns
      li
        a.btn(href="#") ボタン
    ul
      each val in [1,2,3,4,5]
        li= val
    //- p #{nav.index.title}
    nav
      each val in nav
        li
          a.nav-tem(href=val.url)
            span.text= val.title
    .markdown
      :markdown-it
        ## ソース
        
        まずますｐ
        
        * 111
        * 222
          * 333
  include _footer
